<section class="login">
    <div class="login__card">
       <div class="login__card--description">
            <h1 class="login__card--descriptionTitle">Register</h1>
            <p class="login__card--descriptionText">
               Estas listo para poder descubrir los mejores hoteles
            </p>
       </div>
       <div class="login__card--login">
            <h2 class="login__card--loginTitle">Register</h2>
            <form class="login__form" [formGroup]="registerForm" (ngSubmit)="register($event)">
                <input type="text" class="login__form--emailInput" placeholder="name" formControlName="name">
                <input type="text" class="login__form--emailInput" placeholder="lastname" formControlName="lastName">
                <input type="email" class="login__form--emailInput" placeholder="email" formControlName="email">
                <input type="text" class="login__form--emailInput" placeholder="Username" formControlName="username">
                <input type="password" class="login__form--passwordInput" placeholder="Password" formControlName="password">
                <button  type="submit" [disabled]="registerForm.invalid" class="login__form--submitButton">Log in</button>
            </form>
       </div>
    </div>
</section>