<div class="footer text-center">
    <div class="container">
        <div class="row justify-content-center socialRow">
            <div class="iconContainer">
                <img src="../../../../assets/icons/facebook.png" alt="facebook" srcset="">
            </div>
            <div class="iconContainer">
                <img src="../../../../assets/icons/instagram.png" alt="instagram" srcset="">
            </div>
            <div class="iconContainer">
                <img src="../../../../assets/icons/whatsapp.png" alt="whatsapp" srcset="">
            </div>
        </div>
        <div class="row justify-content-center infoRow">
            <ul class="infoRow__nav">
                <li>Home</li>
                <li>Hoteles</li>                
                <li>Eventos</li>
            </ul>
        </div>
        <p class="terms">Terms of use and Privacy Policy</p>
        <span class="copy">&copy; Brand Hotel Manager</span>
    </div>
</div>