<div class="profileBanner" *ngIf="profile">
    <h1>Your Profile, {{profile.name}}</h1>
</div>
<div class="profileInfo" *ngIf="profile">
    <div class="container">
        <div class="row">
            <div class="profileInfo__container col-6 mr-5">
                <form class="m-3" [formGroup]="profileForm" (ngSubmit)="updateInfo()">
                    <h2 class="text-center mt-5">Account Info</h2>
                    <p class="text-center text-muted">You can change your account info changing the input values</p>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control" aria-describedby="name" formControlName="name">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" aria-describedby="username" formControlName="username">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" placeholder="Send request to admin" disabled>
                    </div>
                    <button [disabled]="!profileForm.dirty" type="submit" class="btn btn-success" >Update Info</button>
                </form>
            </div>
            <div class="profileInfo__container col-5">
                <h2 class="text-center mt-5">Your Services</h2>
                <p class="text-center text-muted">This is the history of your services</p>
                <div class="list-group">
                  <div class="containerServices">
                    <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let service of services; let i = index; ">
                      <div class="d-flex w-100 h-auto justify-content-between">
                        <h5 class="mb-1">Reservaste en {{service.reservation.hotel.name}}</h5>
                        <small>{{service.emision_date | date}}</small>
                      </div>
                      <p class="mb-1"><b>Fecha de Llegada</b> {{service.reservation.dateOfArrive | date}}</p>
                      <p class="mb-1"><b>Fecha de Salida</b> {{service.reservation.dateOfDeparture | date}}</p>
                      <p class="mb-1"><b>Dias de estadia</b> {{service.reservation.noOfDaysOfStay }}</p>
                      <small>Total: {{service.total | currency: 'Q'}}</small>
                    </a>
                  </div>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row d-block">
            <h1>Danger Zone</h1>        
            <div class="dangerZone mt-5">
                <h4>Delete My Account</h4>
                <p class="text-muted">This action is unresible and u can not recover your account </p>
                <button class="btn btn-danger" (click)="deleteMyAccount()">Delete</button>
            </div>
        </div>
    </div>
</div>