<div class="home">
    <div class="home__titles">
        <h1>Brand Hotel Manager</h1>
        <p>Haz una estadia inolvidable con nosotros.</p>
        <a href="#" class="btn btn-light">Ver Hoteles</a>
    </div>
</div>
<div class="principalHotels">
    <div class="principalHotels__titles">
        <h1>Nuestros Hoteles mas solicitados</h1>
        <hr>
    </div>
    <div class="principalHotels__carrousel">
        <div class="principalHotels__carrousel--card">
            <div class="principalHotesl__carrousel--img">
                <img src="../../../../assets/img/hotel.jpg" alt="hotel" >
            </div>
            <div class="principalHotels__carrousel--description">
                <h4>Hotel Magister</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Magnam nulla et nihil molestiae dolore, qui minus illum suscipit 
                    nisi repellendus odio magni, sapiente dolorem cumque, quas amet.
                     Eaque, error ullam.
                </p>
                <a href="" class="btn btn-light">Ver Detalles</a>
            </div>
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        
    </div>
</div>