<div class="home">
    <div class="home__titles">
        <h1>Brand Hotel Manager</h1>
        <p>Haz una estadia inolvidable con nosotros.</p>
        <a href="#" class="btn btn-light">Ver Hoteles</a>
    </div>
</div>
<div class="principalHotels">
    <div class="principalHotels__titles">
        <h1>Nuestros Hoteles mas solicitados</h1>
        <hr>
    </div>
    <div *ngIf="hotels" class="principalHotels__carrousel" id="hotels">
        <div *ngFor="let hotel of hotels; let i = index" class="principalHotels__carrousel--card">
            <div class="principalHotesl__carrousel--img">
                <img src="{{hotels[i].images[0]}}" alt="imageOf_{{hotels[i].name}}" >
            </div>
            <div class="principalHotels__carrousel--description">
                <h4>{{hotels[i].name}}</h4>
                <p>
                    {{hotels[i].description}}
                </p>
                <a [routerLink]="['/hotel', hotels[i]._id]" class="btn btn-light">Ver Detalles</a>
            </div>
        </div>
        
    </div>
</div>