<div class="home">
    <div class="home__titles">
        <h1>Brand Hotel Manager</h1>
        <p>Haz una estadia inolvidable con nosotros.</p>
        <a href="#" class="btn btn-light">Ver Hoteles</a>
    </div>
</div>
<div class="principalHotels">
    <div class="principalHotels__titles">
        <h1>Nuestros Hoteles mas solicitados</h1>
        <hr>
    </div>
    <div class="principalHotels__carrousel">
        <div class="principalHotels__carrousel--card">

        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        <div class="principalHotels__carrousel--card">
            
        </div>
        
    </div>
</div>