<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;">
      <th scope="row">{{user._id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
        <a [routerLink]="['update/', user._id]" class="btn btn-primary mr-1">Actualizar</a>
        <a (click)="deleteAccount(user._id, $event)" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>