table{
    width: 100%
}
hr{
    margin-top: 20px;
}
.hotelActions{
    width: 100%;
    height: 100vh;
}
.hotelTitleLeft{
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}
.imagesDisplay{
    width: 100%;
    height: 150px;
    display: block;
    overflow: scroll;
}
.imagesDisplay img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}
.modal-backdrop {
    z-index: 0 !important;
}